<div class="section" id="realisation">
    <div class="container">
        <div class="h4 text-center mb-4 title">REALISATIONS</div>
        <div class="list-items">

                <div class="item">
                    <span class="titles">SSCOVID19</span>
                    <img class="image"  src="../../../assets/images/Corona_capture.png">
                    <span>Sscovid19 is website allows you to follow the evolution of the corona virus around the world.</span>
                    <a href="https://sscovid19.herokuapp.com/" target="_blank"> Visit the website here ...</a>
                </div>

                <div class="item">
                    <span class="titles">MAIA PROJECT</span>
                    <img class="image" src="../../../assets/images/maia_capture.png">
                    <span>Maia Project is a web application for the stock management of a company's articles.</span>
                    <a href="https://sstoragefrontend.herokuapp.com/" target="_blank"> Visit the website here ...</a>
                
                </div>
            </div>
        </div>
</div>


