

.list-items{
    display: flex;
    width: 100%;

    align-items: center;
    flex-wrap: wrap;

    
}

.item{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;

}

.image{
    margin-bottom: 4%;
    margin-top: 4%;
    width: 30%;
}


.titles{
    font-size: 1.2em;
    font-weight: bold;
}

a{

    display: inline-block;
    color: rgb(5, 5, 80);
    font-weight: bold;
}
a:before{

    margin-top: 2%;
    text-decoration:none;
}